{% extends 'KPI_Web/base.html' %}
{% load static %}

{% block content %}

<h1>Rendu de projet pour KPI Intelligence</h1>
<p>
Bienvenu sur mon projet d'API pour KPI Intelligence.
Le menu vous permet de naviguer entre les différentes options de recherches.

Afin de tester le site et l'API, vous pouvez par exemple rechercher:
<ul>
    <li>Les villes de:
        <ul>
            <li>Paris 12ème</li>
            <li>Chailly en Brie</li>
        </ul>
    </li>
    <li>Les état d'avancement comme:
        <ul>
            <li>Opération livrée</li>
            <li>Abandonné</li>
        </ul>
    </li>
    <li>Les code UAI:
        <ul>
            <li>0921166T</li>
            <li>0912251C</li>
        </ul>
    </li>
</ul>
</p>
<br>
<p>En vous souhaitant une bonne découverte.</p>
<p>Alexandre BENARD</p>
{% endblock %}